.App {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--PrimaryColor1);
    color: white;
}
.logo {
    position: absolute;
    color: var(--PrimaryColor3);
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
}
.add-init {
    display: flex;   
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.add-init:hover svg.location {
    fill: var(--SecondaryColor1);
}
.add-init svg.location {
    fill: var(--SecondaryColor0);
    width: 4.5rem;
    animation: inout 5s infinite;
    transition: .3s;
}
@keyframes inout {
    0% {transform: translateY(0)}
    50% {transform: translateY(10px)}
    100% {transform: translateY(0)}
}

.shadow {
    width: 2rem;
    height: .5rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .3);
}

.init-help-text {
    color: var(--PrimaryColor2)
}