:root {
  --PrimaryColor1: #253238;
  --PrimaryColor2: #435964;
  --PrimaryColor3: #76919C;
  --PrimaryColor3: #AFBEC5;
  --PrimaryColor3: #EBEFF2;
  --SecondaryColor0: rgb(160, 36, 49);
  --SecondaryColor1: #CC3544;
  --SecondaryColor2: rgb(219, 95, 107);
  --SecondaryColor3: rgb(248, 140, 151);
  --CompoundColor: #ABFFEE;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
